


<!DOCTYPE html>
<html lang="en"> <!--<![endif]-->
<head>
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
<title>Dashboard | BINARY-SOFTWARE</title>
<link rel="icon" href="images/favicons/favicon.ico">
<link rel="apple-touch-icon" href="images/favicons/apple-touch-icon.png">
<link rel="stylesheet" href="./css/bootstrap.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.5.0/css/font-awesome.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css">
<link rel="stylesheet" href="./css/admin.css">
<link rel="stylesheet" href="./css/allskin.css">
<link rel="stylesheet" href="./css/fullcalendra.css">
<link rel="stylesheet" href="./css/fullcalendraprint.css">
<link rel="stylesheet" href="./css/main.css">
<style>

                            .blink_me {
                              animation: blinker 1s linear infinite;
                            }
                            @keyframes blinker {  
                              50% { opacity: 0; }
                            }
                            
</style>
<!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
<!--[if lt IE 9]>
<script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
<script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
<![endif]-->
</head>
<!--<body class=" sidebar-mini skin-green-light ">-->
<body class="">
<div class="wrapper">

    <header class="main-header">
        <!-- Logo -->
        <a href="http://mlmdemo.asia/software/binary_software/backend/dashboard" class="logo">
            <!-- mini logo for sidebar mini 50x50 pixels -->
            <span class="logo-mini"><b>S A</b></span>
            <!-- logo for regular state and mobile devices -->
            <span class="logo-lg"><b>ALL HIVE SOLUTION</b> </span>
        </a>
        <!-- Header Navbar: style can be found in header.less -->
        <nav class="navbar navbar-static-top">
            <!-- Sidebar toggle button-->
            <a href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button">
                <span class="sr-only">Toggle navigation</span>
            </a>
            <div class="navbar-custom-menu" style="float: left;">
                <ul class="nav navbar-nav">
                    <li class="dropdown user user-menu">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                Welcome ALL HIVE SOLUTION
                        </a>
                    </li>
                </ul>
            </div>
    
            <div class="navbar-custom-menu">
                <ul class="nav navbar-nav">
                                    <!-- User Account: style can be found in dropdown.less -->
                    
                                    <li class="dropdown user user-menu">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                            <span class="hidden-xs">admin</span>
                        </a>
                        <ul class="dropdown-menu">
                            <!-- User image -->
                            <li class="user-header">
                                <img class="profile-user-img img-responsive img-circle"
                                     src="http://mlmdemo.asia/software/binary_software/assets/img/avatar5.png" alt="User profile picture">
    
                                <p>
                                    ALOK KUMAR BHOI                                <small>admin</small>
                                </p>
                            </li>
                            <!-- Menu Footer-->
                            <li class="user-footer">
                                <div class="pull-left">
                                    <a href="http://mlmdemo.asia/software/binary_software/backend/user/profile" class="btn btn-default btn-flat">Profile</a>
                                </div>
                                <div class="pull-right">
                                    <a href="http://mlmdemo.asia/software/binary_software/backend/logout" class="btn btn-default btn-flat">Sign out</a>
                                </div>
                            </li>
                        </ul>
                    </li></ul>
    
            </div>
        </nav>
    </header>    <!-- Left side column. contains the logo and sidebar -->
    <%- include('partials/sidebar') %>
        <!-- Content Wrapper. Contains page content -->
        <div class="content-wrapper">
          <!--\\\\\\\ contentpanel start\\\\\\-->
          
    <!-- Content Header (Page header) -->

<section class="content-header">
    <section class="content">
        <div class="row">
            <div class="col-xs-12">
                <div class="box box-primary">
                    <div class="box-header with-border">
                        <h2 class="box-title">keep changing your password time to time for security purpose:</h2>
                    </div>
                    <div class="box-body">
                        <div class="row">
                            <div class="col-sm-4">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label for="exampleInputEmail1">Old Password</label>
                                        <input name="ctl00$ContentPlaceHolder1$txt_old_password" type="text" id="ctl00_ContentPlaceHolder1_txt_old_password" class="form-control">
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label for="exampleInputEmail1">New Password</label>
                                        <input name="ctl00$ContentPlaceHolder1$txt_new_password" type="text" id="ctl00_ContentPlaceHolder1_txt_new_password" class="form-control">
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label for="exampleInputEmail1">Re-Type New Password</label>
                                        <input name="ctl00$ContentPlaceHolder1$txt_retype_password" type="text" id="ctl00_ContentPlaceHolder1_txt_retype_password" class="form-control">
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <input type="submit" name="ctl00$ContentPlaceHolder1$OkButton" value="Update" id="ctl00_ContentPlaceHolder1_OkButton" class="btn btn-default">
                                        <input id="Button2" class="btn btn-default" onclick="javascript: window.location = 'default.aspx';" type="button" value="Cancel">
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-8">
                                <div class="form-group">
                                    <span id="ctl00_ContentPlaceHolder1_lblMsg" style="color:Red;"></span>
                                    <div id="ctl00_ContentPlaceHolder1_ValidationSummary1" style="color:Red;display:none;">
    
    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

</section>


<!-- Main content -->

</div>
<!-- /.content-wrapper -->
</div>
<!-- ./wrapper -->

</body>
<script src="./js/jquery.js"></script>
<script src="./js/bootstrap.js"></script>
<script src="./js/fastclick.js"></script>
<script src="./js/main.js"></script>
<script src="./js/demo.js"></script>
<script src="./js/jquery-ui.js"></script>
<script src="./js/moment.js"></script>
<script src="./js/fullcalendra.js"></script>
<script src="./js/chart.js"></script>
<script src="./js/dashboard2.js"></script>
<script src="./js/super.js"></script>

</html>
