<!DOCTYPE html>
<html lang="en">
<!--<![endif]-->

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>Dashboard | BINARY-SOFTWARE</title>
    <link rel="icon" href="images/favicons/favicon.ico">
    <link rel="apple-touch-icon" href="images/favicons/apple-touch-icon.png">
    <link rel="stylesheet" href="./css/bootstrap.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.5.0/css/font-awesome.min.css">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css">
    <link rel="stylesheet" href="./css/admin.css">
    <link rel="stylesheet" href="./css/allskin.css">
    <link rel="stylesheet" href="./css/fullcalendra.css">
    <link rel="stylesheet" href="./css/fullcalendraprint.css">
    <link rel="stylesheet" href="./css/main.css">
    <style>
        .blink_me {
            animation: blinker 1s linear infinite;
        }

        @keyframes blinker {
            50% {
                opacity: 0;
            }
        }
    </style>
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
<script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
<script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
<![endif]-->
</head>
<!--<body class=" sidebar-mini skin-green-light ">-->

<body class="">
    <div class="wrapper">

        <header class="main-header">
            <!-- Logo -->
            <a href="http://mlmdemo.asia/software/binary_software/backend/dashboard" class="logo">
                <!-- mini logo for sidebar mini 50x50 pixels -->
                <span class="logo-mini"><b>S A</b></span>
                <!-- logo for regular state and mobile devices -->
                <span class="logo-lg"><b>ALL HIVE SOLUTION</b> </span>
            </a>
            <!-- Header Navbar: style can be found in header.less -->
            <nav class="navbar navbar-static-top">
                <!-- Sidebar toggle button-->
                <a href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button">
                    <span class="sr-only">Toggle navigation</span>
                </a>
                <div class="navbar-custom-menu" style="float: left;">
                    <ul class="nav navbar-nav">
                        <li class="dropdown user user-menu">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                Welcome ALL HIVE SOLUTION
                            </a>
                        </li>
                    </ul>
                </div>

                <div class="navbar-custom-menu">
                    <ul class="nav navbar-nav">
                        <!-- User Account: style can be found in dropdown.less -->

                        <li class="dropdown user user-menu">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                <span class="hidden-xs">admin</span>
                            </a>
                            <ul class="dropdown-menu">
                                <!-- User image -->
                                <li class="user-header">
                                    <img class="profile-user-img img-responsive img-circle"
                                        src="http://mlmdemo.asia/software/binary_software/assets/img/avatar5.png"
                                        alt="User profile picture">

                                    <p>
                                        ALOK KUMAR BHOI <small>admin</small>
                                    </p>
                                </li>
                                <!-- Menu Footer-->
                                <li class="user-footer">
                                    <div class="pull-left">
                                        <a href="http://mlmdemo.asia/software/binary_software/backend/user/profile"
                                            class="btn btn-default btn-flat">Profile</a>
                                    </div>
                                    <div class="pull-right">
                                        <a href="http://mlmdemo.asia/software/binary_software/backend/logout"
                                            class="btn btn-default btn-flat">Sign out</a>
                                    </div>
                                </li>
                            </ul>
                        </li>
                    </ul>

                </div>
            </nav>
        </header> <!-- Left side column. contains the logo and sidebar -->
        <%- include('partials/sidebar') %>
        <!-- Content Wrapper. Contains page content -->
        <div class="content-wrapper">
            <!--\\\\\\\ contentpanel start\\\\\\-->

            <!-- Content Header (Page header) -->

            <section class="content-header">
                <div class="row">
                    <div class="col-xs-12" style="overflow-x: scroll">
                        <div class="box">
                            <!-- /.box-header -->
                            <div class="box-body">
                                <div class="">
                                    <div class="row">
                                        <div class="col-md-3">
                                            <div class="panel">
                                                <div class="panel-body">
                                                    <div class="profile-pic text-center">
                                                        <!-- Profile Image -->
                                                        <center>
                                                            <!-- Profile Image -->
                                                            <div class="box box-primary">
                                                                <div class="box-body box-profile">
                                                                    <a href="http://mlmdemo.asia/software/binary_software/uploads/profile_pic/1-admin.png"
                                                                        target="_blank">
                                                                        <img class="profile-user-img img-responsive img-circle"
                                                                            src="http://mlmdemo.asia/software/binary_software/uploads/profile_pic/1-admin.png"
                                                                            style="width: 150px;height:150px;"
                                                                            alt="User profile picture"></a>

                                                                    <h3 class="profile-username text-center">admin</h3>
                                                                    <!-- Button trigger modal -->
                                                                    <p class="text-muted text-center"><a href="#"
                                                                            class="label label-danger"
                                                                            data-toggle="modal"
                                                                            data-target="#myModal">Edit Pic. <span
                                                                                class="fa fa-edit"></span></a>
                                                                    </p>

                                                                    <!-- Modal -->
                                                                    <div class="modal fade" id="myModal" tabindex="-1"
                                                                        role="dialog" aria-labelledby="myModalLabel">
                                                                        <div class="modal-dialog" role="document">
                                                                            <div class="modal-content">
                                                                                <form action="" method="post"
                                                                                    enctype="multipart/form-data">
                                                                                    <div class="modal-header">
                                                                                        <button type="button"
                                                                                            class="close"
                                                                                            data-dismiss="modal"
                                                                                            aria-label="Close">
                                                                                            <span
                                                                                                aria-hidden="true">×</span></button>
                                                                                        <h4 class="modal-title">Update
                                                                                            Profile Picture</h4>
                                                                                    </div>
                                                                                    <div class="modal-header">
                                                                                        <div class="form-group"
                                                                                            id="user_pic_wrapper">
                                                                                            <label for="user_pic"
                                                                                                class="col-sm-4 control-label"><label
                                                                                                    for="user_pic">User
                                                                                                    Pic.</label></label>
                                                                                            <div
                                                                                                class="col-sm-9 col-lg-8">
                                                                                                <input type="file"
                                                                                                    name="user_pic"
                                                                                                    accept="image/*"
                                                                                                    id="user_pic">
                                                                                            </div>
                                                                                        </div>
                                                                                    </div>
                                                                                    <div class="modal-footer">
                                                                                        <button type="button"
                                                                                            class="btn btn-default"
                                                                                            data-dismiss="modal">Close</button>
                                                                                        <button type="submit"
                                                                                            name="save_pic"
                                                                                            class="btn btn-primary">Save
                                                                                            changes</button>
                                                                                    </div>
                                                                                </form>
                                                                            </div>
                                                                        </div>
                                                                    </div>

                                                                    <p class="text-muted text-center">Admin
                                                                    </p>
                                                                </div>
                                                                <!-- /.box-body -->
                                                            </div>
                                                            <!-- /.box -->
                                                        </center>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- /.col -->
                                        <div class="col-md-9">
                                            <div class="panel">
                                                <div class="panel-body">
                                                    <form class="form-horizontal">
                                                        <div class="nav-tabs-custom">
                                                            <!-- navigation tabs -->

                                                            
                                                            <div class="tab-content">
                                                                <div class="active tab-pane" id="activity"><br>


                                                                    <div class="form-group" id="user_name_wrapper">
                                                                        <label for="user_name"
                                                                            class="col-sm-2 control-label">MemberID</label>
                                                                        <div class="col-sm-9 col-lg-10">
                                                                            <input type="text" name="user_name"
                                                                                
                                                                                placeholder="MemberID" class="form-control"
                                                                                id="user_name">
                                                                        </div>
                                                                    </div>
                                                                    <div class="form-group" id="user_gender_wrapper">
                                                                        <label for="user_gender"
                                                                            class="col-sm-2 control-label">Sponsor ID</label>
                                                                        <div class="col-sm-9 col-lg-10">
                                                                            <input type="text" name="user_gender"
                                                                                 placeholder="Sponsor ID"
                                                                                class="form-control" id="user_gender">
                                                                        </div>
                                                                    </div>
                                                                    <div class="form-group" id="user_city_wrapper">
                                                                        <label for="user_city"
                                                                            class="col-sm-2 control-label">Sponsor Name</label>
                                                                        <div class="col-sm-9 col-lg-10">
                                                                            <input type="text" name="user_city"
                                                                                 placeholder="Sponsor Name"
                                                                                class="form-control" id="user_city">
                                                                        </div>
                                                                    </div>
                                                                    <div class="form-group" id="user_district_wrapper">
                                                                        <label for="user_district"
                                                                            class="col-sm-2 control-label">First Name</label>
                                                                        <div class="col-sm-9 col-lg-10">
                                                                            <input type="text" name="user_district"
                                                                                 placeholder="First Name"
                                                                                class="form-control" id="user_district">
                                                                        </div>
                                                                    </div>
                                                                    <div class="form-group" id="user_state_wrapper">
                                                                        <label for="user_state"
                                                                            class="col-sm-2 control-label">Last Name</label>
                                                                        <div class="col-sm-9 col-lg-10">
                                                                            <input type="text" name="user_state"
                                                                                 placeholder="Last Name"
                                                                                class="form-control" id="user_state">
                                                                        </div>
                                                                    </div>
                                                                    <div class="form-group" id="user_phone_no_wrapper">
                                                                        <label for="user_phone_no"
                                                                            class="col-sm-2 control-label">
                                                                            Father's/Husband Name</label>
                                                                        <div class="col-sm-9 col-lg-10">
                                                                            <input type="text" name="user_phone_no"
                                                                                
                                                                                placeholder="Father's/Husband Name"
                                                                                class="form-control" id="user_phone_no">
                                                                        </div>
                                                                    </div>
                                                                    <div class="form-group" id="user_email_wrapper">
                                                                        <label for="user_email"
                                                                            class="col-sm-2 control-label">Email ID</label>
                                                                        <div class="col-sm-9 col-lg-10">
                                                                            <input type="text" name="user_email"
                                                                                
                                                                                placeholder="Email" class="form-control"
                                                                                id="user_email">
                                                                        </div>
                                                                    </div>
                                                                    <div class="form-group" id="adhar_no_wrapper">
                                                                        <label for="adhar_no"
                                                                            class="col-sm-2 control-label">Mobile No</label>
                                                                        <div class="col-sm-9 col-lg-10">
                                                                            <input type="text" name="adhar_no"
                                                                                
                                                                                placeholder="Mobile No"
                                                                                class="form-control" id="adhar_no">
                                                                        </div>
                                                                    </div>
                                                                    <div class="form-group" id="postal_code_wrapper">
                                                                        <label for="postal_code"
                                                                            class="col-sm-2 control-label">Postal
                                                                            Code</label>
                                                                        <div class="col-sm-9 col-lg-10">
                                                                            <input type="text" name="postal_code"
                                                                                 placeholder="Postal Code"
                                                                                class="form-control" id="postal_code">
                                                                        </div>
                                                                    </div>
                                                                    <div class="form-group" id="kyc_detail_wrapper">
                                                                        <label for="kyc_detail"
                                                                            class="col-sm-2 control-label">PAN Number</label>
                                                                        <div class="col-sm-9 col-lg-10">
                                                                            <input type="text" name="kyc_detail"
                                                                                
                                                                                placeholder="PAN Number Detail"
                                                                                class="form-control" id="kyc_detail">
                                                                        </div>
                                                                    </div>


                                                                    <div class="form-group" id="kyc_detail_wrapper">
                                                                        <label for="kyc_detail"
                                                                            class="col-sm-2 control-label">GST Number</label>
                                                                        <div class="col-sm-9 col-lg-10">
                                                                            <input type="text" name="kyc_detail"
                                                                                
                                                                                placeholder="GST Detail"
                                                                                class="form-control" id="kyc_detail">
                                                                        </div>
                                                                    </div>

                                                                   
                                                                </div>
                                                                <button class="btn btn-warning">SAVE</button>

                                                            </div>
                                                            <!-- /.nav-tabs-custom -->
                                                        </div>
                                                    </form>

                                                </div>
                                            </div>
                                        </div>
                                        <!-- /.col -->
                                    </div>
                                    <!-- /.row -->

                                </div>
                            </div>
                            <!-- /.box-body -->
                        </div>
                    </div>
                    <!-- /.col -->
                </div>
                <!-- /.row -->
            </section>


            <!-- Main content -->

        </div>
        <!-- /.content-wrapper -->
    </div>
    <!-- ./wrapper -->

</body>
<script src="./js/jquery.js"></script>
<script src="./js/bootstrap.js"></script>
<script src="./js/fastclick.js"></script>
<script src="./js/main.js"></script>
<script src="./js/demo.js"></script>
<script src="./js/jquery-ui.js"></script>
<script src="./js/moment.js"></script>
<script src="./js/fullcalendra.js"></script>
<script src="./js/chart.js"></script>
<script src="./js/dashboard2.js"></script>
<script src="./js/super.js"></script>

</html>